
.background{
	width: 1280px;
	height: 1024px;
	position: absolute;
	}

/*travel note position*/
.title {
	position: relative;
	top:2%;
	left:46%;
    font-size: 25px;
   font-family: 'Permanent Marker', cursive;
}

.maps{
	position: relative;
	left: 10%;
}

/*not working, don't know why*/
.map{
	position: relative;
	top: 10%;
}

/*the country button position not working*/
#items1{
	position: absolute;
	top: 17.9%;
	left: 4%;

}

#items2{
	position: absolute;
	top: 31.8%;
	left: 45.8%;

}

#items3{
	position: absolute;
	top: 28%;
	left: 63%;

}

#items4{
	position: absolute;
	top: 33%;
	left: 77.9%;

}

#items5{
	position: absolute;
	top: 55.9%;
	left: 66%;

}

#items6{
	position: absolute;
	top: 29.5%;
	left: 43%;

}

/*the click text position*/
/*Want to add javascript to make the mousetouch the text and the text can do animation*/
.text{
	position: relative;
	top: -5%;
	left: 46%;
	font-size: 35px;
	font-family: 'Caveat', cursive;
}